html,
body,
#app,
#app > div {
  height: 100%;
}
.Login {
  padding: 250px 0;
}
.Login-view {
  /* padding: -100px;
  border: 2px solid black;
  margin: 0; */
}
.Login form {
  margin: 0 auto;
  max-width: 320px;
}

.Register {
  padding: 200px 0;
}
.Register form {
  margin: 0 auto;
  max-width: 320px;
}

.register-query {
  text-align: left;
}
