.search {
  margin: 0 auto;
}

.search-bar {
  margin: 15px 5px;
  padding-right: 310px;
  border-radius: 5px;
}
.search-button {
  border-radius: 5px;
}

.navbar {
  display: flex;
  align-items: center;
}

.right-container {
  display: flex;
  align-items: center;
}

.qty-update-button {
  margin-left: -5px;
  margin-top: 15px;
  background-color: rgb(57, 112, 214);
}
