.statistics-donut {
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

.statistics-title {
  text-align: center;
  margin-top: 70px;
}

.statistics-clothing {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  margin-left: 17.9rem;
}

.statistics-stocks {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  margin-right: 23rem;
}
