/* Position and sizing of burger button */
.bm-burger-button {
  position: relative;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #030925;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #3174cc;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #031927;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* sidebar background */
.bm-menu {
  background: #2a4b6965;
  padding: 4.5em 1.1em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #2474bec7;
}

/* Wrapper for item list */
.bm-item-list {
  color: #19529c;
  padding: 0.3em;
}

/* Individual item */
.bm-item {
  color: #d5d7dd;
  display: inline-block;
  padding: 0.5em;
  font-weight: bold;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(60, 61, 155, 0.3);
}

.donut {
  width: 1000px;
  height: 1000px;
  margin: 0 auto;
  margin-top: 150px;
}
