.table-column {
  position: relative;
  margin-left: -365px;
}

.table {
  border: 2px solid rgb(0, 0, 0);
  margin-top: 25px;
  margin-left: 210px;
  width:1000px;
  border-collapse: collapse;
  background-color: rgb(255, 255, 255);
}

.table td {
  background-color: rgb(255, 255, 255); /*rgb(62, 133, 180);*/
  max-width: 20px;
  text-overflow: ellipsis;
  border: 2px solid rgb(0, 0, 0);
  border-left: none;
  border-right: none;
}

.cart {
  padding: 0px 2px;
  width: 30px;
}

.cart-brand {
  margin-left: -120px;
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.cart-info {
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.cart-img {
  position: relative;
  width: 100px;
  height: 100px;
  text-align: center;
  margin-right: 10px;
}

.cart-price {
  margin-top: 5px;
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.cart-remove-button {
  position: relative;
  margin-top: 45px;
  margin-left: 40%;
  color: rgb(51, 47, 102);
}

.qty-button {
  width: 65px;
}

.cart-checkout {
  margin-top: 25px;
  margin-left: 100px;
  margin-right: -35px;
}

.button-checkout {
  background-color: rgb(81, 138, 177);
}

.empty-cart {
  margin-top: 25px;
  margin-left: 250px;
  width: 25rem;
}

.start-shopping {
  display: block;
  background-color: rgb(81, 138, 177);
}
