.product {
  margin-top: 10px;
  max-width: 230px;
  width: 350px;
  height: 360px;
  margin: 10px;
}

.img {
  position: relative;
  width: 228px;
  height: 228px;
}

.img-wrapper {
  height: 0;
  padding-bottom: 100%;
  position: relative;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
