.product-detailed {
  width: 400px;
  height: 400px;
  margin: 50px auto;
}
.img-detailed {
  position: relative;
  width: 400px;
  height: 400px;
}

.product-info-detailed {
  margin: 50px -30px;
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.product-title {
  font-size: 25px;
}

.product-price {
  font-size: 23px;
}

.cart-button {
  margin-top: 20px;
}

.qty-button {
  width: 70px;
}

.product-info {
  width: 200px;
}

.back-logo {
  width: 70px;
  height: 70px;
}

.back-logo img {
  position: relative;
  width: 56px;
  height: 56px;
  left: 36px;
  top: 36px;
}

.modal-90w {
}
